.App {
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .row {
  margin: 30px;
}

nav {
  border: 1px solid black;
  padding: 0 20px;
}

main {
  padding: 20px;
  border: 1px solid lightgray;
}

.card {
  border: 1px solid black;
  padding: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.score-board {
  margin: 40px;
}

.score-board h2 {
  text-align: center;
}
